body {
	background-color: #E7F1F7;
	font-size: 11pt;
	font-family: Serif;
}
.clear {
	clear: both;
}

input, select {
	font-size: 10pt;
	font-family: Serif;
}

a {
	text-decoration: none;
	color: #57553b;	
}
a:hover {
	color: #ff8040;
}

hr {
	border: 0px;
	border-bottom: solid 1px #E2DB81;
}
h2.header {
	text-align: center;
	color: #ff8040;
}
h3.header {
	text-align: center;
	color: #ff8040;
}
h4.header {
	text-align: center;
	color: #ff8040;
}
img {
	border: none;
}
/*
 intro page
*/
div.root {
	margin: auto;
	width: 600px;
	min-height: 400px;
	background-color: #fff;
	border: solid 1px #0080c0;
}
div.appcont {
	
	padding: 10px;
}
div.mainlist {
	margin: auto;
	font-size: 18pt;
	background-color: #f3f3f5;
	border: solid 1px #0080c0;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 300px;
	height: 35px;
	padding: 5px;
	padding-left: 15px;
	margin-top: 10px;
}
.utility {
	display: block;
	margin: auto;
	font-size: 18pt;
	background-color: #f3f3f5;
	border: solid 1px #0080c0;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 40px;
	height: 40px;
	padding: 5px;
	margin-top: 10px;
}
.utility_long {
	text-align:center;
	width: 90px;
	height: 25px;
	padding: 5px;
	font-size: 14pt;
}
div.footnote {
	text-align: center;
	margin-top: 25px;
}

/*
default layout
*/

div.rpg {
	position: absolute;
	left: 10px;
	top: 10px;
	min-width: 300px;
	background-color: #fff;
	border: solid 1px #0080c0;
	padding: 10px;
	font-size: 16pt;
}

div.menu {
	position: absolute;
	left: 10px;
	top: 70px;
	width: 190px;
	background-color: #fff;
	border: solid 1px #0080c0;
	padding: 0px;
	font-size: 16pt;
}
div.menu ul {
	
}
div.menu li {
	margin-left: -10px;
}

div.user {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 250px;
	background-color: #fff;
	border: solid 1px #0080c0;
	padding: 10px;
	font-size: 10pt;
}
div.main {
	position: absolute;
	left: 220px;
	right: 10px;
	top: 70px;
	min-height: 500px;
	background-color: #fff;
	border: solid 1px #0080c0;
	padding: 10px;
	min-width: 600px;
}
div.maintext {
	text-align:center;
}
