html {
	height: 100%;
}
body {
	
	margin: 0;
	border: 0;
	height: 100%;
	font-size: 12pt;
	font-family: Serif;
}
div.world {
	background: #BFD8EF url('img/back.png'); /* fallback */
	background: url('img/back.png'), -webkit-gradient(linear, left top, left bottom, from(#BFD8EF), to(#769CC1)); /* Saf4+, Chrome */
	background: url('img/back.png'), -webkit-linear-gradient(top, #BFD8EF, #769CC1); /* Chrome 10+, Saf5.1+ */
	background: url('img/back.png'),    -moz-linear-gradient(top, #BFD8EF, #769CC1); /* FF3.6+ */
	background: url('img/back.png'),     -ms-linear-gradient(top, #BFD8EF, #769CC1); /* IE10 */
	background: url('img/back.png'),      -o-linear-gradient(top, #BFD8EF, #769CC1); /* Opera 11.10+ */
	background: url('img/back.png'),         linear-gradient(top, #BFD8EF, #769CC1); /* W3C */
	
	
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
	overflow:hidden;
}
div.ribbon {
	max-width: 1000px;
	min-height: 400px;
	margin: auto;
	margin-bottom: 45px;
	overflow:hidden;
	background: #f9f9f9;
	border: 1px solid #000;
	border-top: 0px solid #000;
	border-radius: 0px 0px 8px 8px;
}

.clear {
	clear: both;
}

input, select {
	font-size: 10pt;
	font-family: Serif;
}

a {
	text-decoration: none;
	color: #57553b;	
}
a:hover {
	color: #ff8040;
}

hr {
	border: 0px;
	border-bottom: solid 1px #E2DB81;
}
.header {
	font-size: 150%;
	text-align: center;
	margin-bottom: 10px;
}

h2.header {
	text-align: center;
	color: #ff8040;
}
h3.header {
	text-align: center;
	color: #ff8040;
}
h4.header {
	text-align: center;
	color: #ff8040;
}
img {
	border: none;
}
.logoarea {
	min-width: 300px;
	margin: 10px;
}
/* user info bar */
.userinfo {
	width: 100%;
	min-height: 25px;
	background: #000;
	color: #fff;
	overflow: hidden;
}
.userinfo a {
	color: #fff;
	
}
.userinfo a:hover {
	color: #ff8040;
}
.frame {
	min-width: 100px;
	
	border-left: 1px solid #f0f0f0;
	padding: 5px;
	float: right;
}
/*header buttons*/


.right {
	float: right;
}
/* menu */
.menu {
	border-top: 1px solid red;
	border-bottom: 2px solid red;
	overflow: hidden;
}
.menuitem {
	float: left;
	padding: 6px;
	margin-right: 10px;
	font-size: 140%;
}
.topbar {
	
}
/* action bar */
.action_bar {
	width: 100%;
	clear: both;
	background: #f0f0f0;
	overflow: hidden;
	margin-bottom: 10px;
}
.path {
	float: left;
	
}
.pathitem {
	float: left;
	min-width: 50px;
	font-size: 120%;
	margin: 5px;
	border-bottom: 1px solid #000;
	padding: 5px;
}

/* actions buttons */
.actions {
	float: left;
}
.actions div {
	float: left;
	background: #f0f0f0;
	border: 1px solid #000;
	border-radius: 8px;
	margin: 5px;
	padding: 5px;
	font-size: 120%;
}
/*other buttons*/
.cbutton {
	width: 100px;
	padding: 5px;
	margin: auto;
}
.bstyle {
	background: #f0f0f0;
	border: 1px solid #000;
	border-radius: 8px;
	padding: 5px;
	font-size: 120%;
}
.textbody {
	margin: 10px;
}
.list {
	width: 100%;
}
.list td {
	background: #f0f0f0;
	padding: 5px;
	text-align: center;
}
.list th.firstcell {
	
}
.list td.firstcell {
	text-align: left;
}
/*blog stuff*/
.blogpost {
	background: #dedce0;
	padding: 8px;
	min-height: 100px;
	margin-bottom: 10px;
}
.blogheader  {
	border-bottom: 1px solid red;
}
.blogheader span {
	font-size: 130%;
	font-weight: bold;
}
.blogcomment {
	background: #f0f0f0;
	padding: 8px;
	min-height: 65px;
	margin-bottom: 10px;
}
.commentheader  {
	border-bottom: 1px solid #beafc1;
}
.commentheader span {
	font-size: 110%;
	font-weight: bold;
}
.bloginfo {
	font-size: 100%;
}
.blogtext {
	margin-top: 10px;
}
/* charge stuff */

.itemcont {
	border: 1px solid #000;
	float: left;
	margin: 5px;
}
.contbig {
	width: 150px;
	height: 75px;
}
.contsmall {
	width: 100px;
	height: 50px;
}
.boxheader {
	font-weight: bold;
	text-align: center;
	background: #f0f0f0;
}
