body {
	background-color: #E7F1F7;
	font-size: 11pt;
	font-family: Serif;
}
.clear {
	clear: both;
}

input, select {
	font-size: 10pt;
	font-family: Serif;
}

a {
	text-decoration: none;
	color: #57553b;	
}
a:hover {
	color: #ff8040;
}

hr {
	border: 0px;
	border-bottom: solid 1px #E2DB81;
}
h2.header {
	text-align: center;
	color: #ff8040;
}
h3.header {
	text-align: center;
	color: #ff8040;
}
h4.header {
	text-align: center;
	color: #ff8040;
}
img {
	border: none;
}

