label.selTin,label.selDiv,label.selOrd,label.selVar,label.selHead {
	display: block;
	float: none;
}
div.selTin,div.selDiv,div.selOrd,div.selVar,div.selHead {
	text-align: center;
	float: left;	
}
input.selTin, input.selDiv, input.selOrd, input.selVar, input.selHead {
	position: relative;
	visibility: visible;	
}
